<!DOCTYPE html>
<html>

<<<<<<< Updated upstream
=======
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/main-styling.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

>>>>>>> Stashed changes
<body>
  {{{body}}}
</body>

</html>