<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://js.pusher.com/5.0/pusher.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="/styles/main-style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/index">CRYNANCE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="/landing">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/charts">Market</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/trade">Exchange</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
    </header>
    </nav>

    <div id="page-container">
        <div id="content-wrap">
            <div id='coins'>
                <h1 class='text-center bg-transparent text-white'>Crypto Prices</h1>
                <table style='margin-bottom: 20px; border-top: silver 2px solid; border-bottom: silver 2px solid;'
                    class="table table-secondary" id='coin-prices'>
                    <thead class='headers'>
                        <tr>
                            <th scope="col">Symbol</th>
                            <th scope="col">Name</th>
                            <th scope="col">Current Price</th>
                            <th scope="col">Volume</th>
                            <th scope="col">Change(24Hr)</th>
                        </tr>
                    </thead>
                    <tbody id='prices'>
                    </tbody>
                </table>
            </div>
            <div class='container'>
                <div class='row'>
                    <div class='col-4'>
                    </div>
                    <div class='col-4 input'>
                        <form>
                            <div class="form-group">
                                <label style='margin-left: 50px; color: white; font-size: 20px;' for="crypto">Add
                                    Crypto:</label>
                                <input type="text" class="form-control" id="custom" placeholder="Enter Crypto Name">
                            </div>
                            <button type="submit" id='add' style='margin-left: 14px; margin-bottom: 20px;'
                                class="btn btn-secondary">Add Crypto To Table</button>
                        </form>
                    </div>
                    <div class='col-4'>
                    </div>
                </div>
                <canvas id='bitcoin-chart' style='margin-bottom: 20px;'>
                </canvas>
            </div>
        </div>
        <footer role="contentinfo" class="page-footer font-small white mt-auto mx-auto py-3">

            <div id="footer" class="footer-copyright text-center">© 2019 Created By:
                <a href="https://github.com/HoChiefMinh" target="_blank">Minh Pham, </a>
                <a href="https://github.com/haz3141" target="_blank">Hazael Dominguez, </a>
                <a href="https://github.com/andrew129" target="_blank">Andrew Stiles </a>
            </div>
        </footer>
    </div>
    <style>
        .crypto {
            width: 40px;
            height: 40px;
        }

        .headers {
            background-color: silver;
        }

        #coin-prices {
            padding: 0;
            margin: 0;
        }

        .input {
            display: flex;
            justify-content: center;
            align-content: space-between;
        }

            {
                {
                 !-- body {
                    background-image: linear-gradient(to right, black, red, grey)
                }

                --
            }
        }
    </style>
    <script>
        //making initial charts//
        function getData() {
            var queryURL = 'https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&ids=bitcoin,ethereum,litecoin'
            $.ajax({
                url: queryURL,
                method: 'GET'
            }).then(function (response) {
                console.log(response)
                var bitcoinPrice = response[0].current_price
                var ethPrice = response[1].current_price
                var litePrice = response[2].current_price
                console.log(litePrice)
                bitcoinChart.data.datasets[0].data.push(bitcoinPrice)
                bitcoinChart.data.datasets[1].data.push(litePrice)
                bitcoinChart.data.datasets[2].data.push(ethPrice)
                bitcoinChart.update()
            })
        }
        //changing chart css
        Chart.defaults.global.defaultFontColor = 'white'
        Chart.defaults.global.title.fontSize = 20

        const ctx = document.getElementById('bitcoin-chart').getContext('2d');

        var gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
        gradientStroke.addColorStop(0, "#80b6f4");
        gradientStroke.addColorStop(1, "#f49080");

        var gradientStrokeTwo = ctx.createLinearGradient(500, 0, 100, 0);
        gradientStrokeTwo.addColorStop(0, '#684dad')
        gradientStrokeTwo.addColorStop(0.5, '#6bb1bf')
        gradientStrokeTwo.addColorStop(1, '#c1f215')
        //main chart settings//
        let bitcoinChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [
                    {
                        data: [],
                        label: 'bitcoin',
                        borderColor: gradientStroke,
                        pointBorderColor: gradientStroke,
                        pointBackgroundColor: gradientStroke,
                        pointHoverBackgroundColor: gradientStroke,
                        pointHoverBorderColor: gradientStroke,
                        fill: true
                    },
                    {
                        data: [],
                        label: 'litecoin',
                        borderColor: gradientStrokeTwo,
                        pointBorderColor: gradientStrokeTwo,
                        pointBackgroundColor: gradientStrokeTwo,
                        pointHoverBackgroundColor: gradientStrokeTwo,
                        pointHoverBorderColor: gradientStrokeTwo,
                        fill: true
                    },
                    {
                        data: [],
                        label: 'Ethereum',
                        borderColor: 'blue',
                        fill: true
                    },
                    {
                        data: [],
                        label: 'user',
                        borderColor: 'black',
                        fill: true
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Crypto Price Chart'
                },
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            steps: 10,
                            stepSize: 1000,
                            beginAtZero: true,
                            suggestedMax: 10000,
                        }
                    }],
                }
            }
        })
        //adding time to the x axis
        function add_data(chart, label, data) {
            let today = new Date()
            let time = today.getHours() + ':' + today.getMinutes() + today.getSeconds();
            console.log(time)
            bitcoinChart.data.labels.push(time)
            bitcoinChart.update()
        }
        //setting the time between each data point
        setInterval(getData, 300000)
        setInterval(add_data, 300000)
        //calling functions when the page starts
        getData()
        add_data()

        //making custom graphs and table graphs from user data//
        function setup() {
            $('#prices').empty()
            let add = $('#custom').val().trim()
            let queryURL = 'https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&ids=bitcoin,ethereum,litecoin,eos,monero,power-ledger,augur,dogecoin,' + add + '&price_change_percentage=24hr'
            $.ajax({
                url: queryURL,
                method: 'GET'
            }).then(function (response) {
                console.log(add)
                console.log(response)
                for (let i = 0; i < response.length; i++) {
                    let upperCase = response[i].symbol.toUpperCase()
                    let image = $('<img>').attr('src', response[i].image).addClass('crypto')
                    let newRows = $('<tr>').append(
                        $('<td>').append(image),
                        $('<td>').text(upperCase),
                        $('<td>').text('$' + response[i].current_price),
                        $('<td>').text('$' + response[i].total_volume),
                        $('<td>').text(response[i].price_change_percentage_24h.toFixed(2) + '%')
                    )
                    $('#coin-prices').append(newRows)
                    $.ajax('/api/charts', {
                        type: 'POST',
                        data: newRows
                    }).then(function () {
                        console.log('added crypto')
                        location.reload();
                    })
                }
            })
        }

        function userGraph() {
            let add = $('#custom').val().trim()
            let queryURL = 'https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&ids=' + add + '&price_change_percentage=24hr'
            $.ajax({
                url: queryURL,
                method: 'GET'
            }).then(function (response) {
                console.log(add)
                let price = response[0].current_price
                let id = response[0].id
                bitcoinChart.data.datasets[3].data.push(price)
                bitcoinChart.data.datasets[3].label = id
                bitcoinChart.update()
            })
        }
        //calling setup immediately to build the table//
        setup()
        //on click add the users crypto to table and graph//
        $('#add').on('click', function (event) {
            event.preventDefault()
            setup()
            setInterval(setup, 120000)
            userGraph()
            setInterval(userGraph, 300000)
        })

    </script>
</body>

</html>