<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/landing.css">
  <title>CRYNANCE | Welcome</title>
</head>

<header class="v-header container">
  <div class="fullscreen-video-wrap">
    <video src="/videos/charts3.mp4" 
    autoplay="true" loop="true"></video>
  </div>

  <div class="header-overlay"></div>
  <div class="header-content">
    <h1>Welcome to Crynance</h1>
    <p>Here at Crynance we allow you to trade binary options tied to the price of Bitcoin.</p>
    <a href="/signup" class="btn">Sign Up</a>
  </div>
</header>

<section class="section section-a">
  <div class="container">
    <h1>Put Option</h1>
    <p>If you feel the price of Bitcoin will drop below the current price in the next thirty minutes then select a Put Option.</p>
  </div>
</section>

<section class="section section-b">
  <div class="container">
    <h1>Call Option</h1>
    <p>If you feel the price of Bitcoin will rise above the current price in the next thirty minutes then select a Call Option.</p>
  </div>
</section>