{{!-- <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        <label for="firstname">Firstname</label>
        <input name="firstname" type="text" />
        <label for="lastname">Lastname</label>
        <input name="lastname" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign Up" />
    </form> --}}

<head>
  <meta charset="utf-8">
  <script src="https://kit.fontawesome.com/8e3c874e17.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/main.css" media="screen" title="Registration Page" charset="utf-8">
  <title>Registration Page</title>
</head>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <h1 class="text-center mb-3">Register</h1>
        <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">Email Address</label>
        <input 
        class="text" 
        name="email" 
        type="email" 
        />
        <label for="firstname">Firstname</label>
        <input 
        name="firstname" 
        type="text" 
        />
        <label for="lastname">Lastname</label>
        <input 
        name="lastname" 
        type="text" 
        />
        <label for="password">Password</label>
        <input 
        name="password" 
        type="password" 
        />
        <input class="btn btn-primary btn-block" type="submit" value="Sign Up" />
    </form>
    </div>
</div>