   body{
    background-image: url("https://miro.medium.com/max/2560/1*2cdqBbOJUdvqGVKxAi1JtA.png");
    background-size: cover;
    height: 300px;
    background-position: center;
    display: block;
    color: #ffffff;
  }
  .container {
    padding: 0;
    margin: 0;
  }
  
  .card-body{
    background-color: black;
  }

  .fas, #text{
    color: #ffffff;
  }

  .navbar{
    background-color: rgb(39, 37, 37);
  }

  .navbar-brand{
    font-family: 'Lato', sans-serif;
    color: rgb(245, 183, 12);
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: unset;
  }

  .nav-link{
    font-family: 'Lato', sans-serif;
    color:  #ffffff;
  }

  .btn-primary{
    background-color: rgb(245, 183, 12);
    border: none;
  }
