.body{
    background-image: url("https://miro.medium.com/max/2560/1*2cdqBbOJUdvqGVKxAi1JtA.png");
    color: #ffffff;
}
.card-body{
    background-color: black;
}

.btn{
    background-color: #d1c235;
    border: none;
}